.Toolbar {
  height: 78px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(37, 138, 107);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 50;
}

.Toolbar nav {
  height: 88%;
}

@media (max-width: 499px) {
  .DesktopOnly {
      flex-flow: row;
  }
}